<!DOCTYPE html>
<html>

<head>
  <title>Bad Decisions</title>
  <meta charset="UTF-8">
  <meta name="description" content="67-328 Building Distributed Application: Final Project">
  <meta name="keywords" content="Decision, Crowd-Source, App, CMU, Building Distributed Applications, Information Systems">
  <meta name="author" content="Kenny Cohen">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div id="title-block" class="hidden">
    <h1>Bad Decisions</h1>
    <h2>Ask - Answer - Live</h2>
    <a href="javascript:;">Get Started</a>
  </div>
  <div id="page">
    <h5 id="logo"><a href="javascript:;">Bad Decisions</a></h5>
    <div id="question-page" class="hidden">
      <h3 class="question"><span></span></h3>
      <ul class="answers">
      </ul>
    </div>
    <div id="form-page" class="hidden">
      <h3></h3>
      <input type="text" name="" placeholder=""></input>
    </div>
    <div id="results-page" class="hidden">
      <h3>Results for: <span></span></h3>
      <ul>
      </ul>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script type="text/javascript" src="js/views.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <script type="text/javascript" src="js/sockets.js"></script>
</body>

</html>